[submodule "vendor/github.com/go-yaml/yaml"]
	path = vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml.git
[submodule "vendor/github.com/jessevdk/go-flags"]
	path = vendor/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
[submodule "vendor/github.com/natefinch/lumberjack"]
	path = vendor/github.com/natefinch/lumberjack
	url = https://github.com/natefinch/lumberjack.git
