[submodule "vendor/github.com/go-yaml/yaml"]
	path = vendor/github.com/go-yaml/yaml
	url = git@github.com:go-yaml/yaml.git
[submodule "vendor/github.com/jessevdk/go-flags"]
	path = vendor/github.com/jessevdk/go-flags
	url = git@github.com:jessevdk/go-flags
